# Archivos compilados
*.class

# Logs
*.log

# Archivos temporales
*.tmp
*.swp

# Carpeta de compilación
/bin/
/build/
/out/
/target/

# IDEs

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db